doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="title", content="Atypon Bootcamp Database")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(name="description", content="create a database uisng node.js, express and pug as a view engine")
        meta(name="robots", content="noindex")
        meta(name="keywords", content="Atypon, training, bootcamp, frontend engineering, frontend, FD, assignment, database, express, node.js, node , express.js, pug")
        meta(property="og:image", content="../public/assets/blue-plus.png")
        meta(property="og:title", content="Atypon database")
        meta(property="og:description", content="databsase creating using node.js")
        meta(name="author", content="anas alfateh")
        style 
          include ../public/styles/index.css
        block script     
       
        title Create DB
    body 
      main 
        block content
